@use '../components';
@use '../pages';
@use './abstracts' as a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: a.$body;
  background-color: a.$background;
}
